{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-10">Identidad institucional</h1>
    <p class="lead">La unidad educativa “Dr. Francisco Arizaga Luque” fue creado bajo decreto supremo N.º 664
        del 6 de junio de 1973 como Colegio Nacional del Suburbio, para satisfacer las necesidades de formación académica, y
        cultural de los jóvenes de este amplio y populoso sector del suburbio de Guayaquil.
        Desde el año de 1978 viene entregado bachiller en Ciencias Humanísticas en las especializaciones de Físico Matemáticas,
        Químico Biológicas y Ciencias Sociales, las mismas, que han dado conocimiento y cultura al bachiller, pero que,
        en su mayoría, no han permitido satisfacer las necesidades económicas personales y de su familia.
        Mediante acuerdo N.º 017 del 8 de febrero del 2001 se autoriza el funcionamiento de nuevos cursos de Bachillerato:
        Bachillerato en Comercio y Administración especialización Contabilidad recomendado a los directivos del Colegio
        “la posibilidad de proponer institucionalmente innovaciones, que promuevan nuevas y modernas expectativas del desarrollo
        científico y tecnológico, que demanda el entorno de influencia y aspiraciones estudiantiles”.
        El crecimiento poblacional en la institución durante el periodo lectivo 2001 fue evidente con la aprobación del PEI,
        en la que se apertura además de las especializaciones indicadas, la especialización de informática y se gestionó
        la especialización Secretariado Administrativo Bilingüe.
        En la actualidad constamos con una población de 874 estudiantes, donde la mayor parte de la población es de recurso
        económico bajo, se encuentra ubicado en el sur Oeste de la ciudad de Guayaquil, en la 20 y Callejón Parra, frente a un UPC. Es así basados en los nuevos cambios de la educación y la organización de los servicios educativos, y con la finalidad de orientar a los establecimientos educativos para que actualicen su Proyecto Educativo Institucional, el Ministerio de Educación a través de sus Distritos capacita a las autoridades educativas, es así que la UNIDAD EDUCATIVA DR. FRANCISCO ARIZAGA LUQUE, acoge recomendaciones y aplica los lineamientos establecidos.
        El PEI fundamenta su estructura e importancia social, por lo que esta construido con la participación activa de
        quienes conforman la comunidad Educativa Institucional, con la finalidad de mantener un documento de reflexión y
        acción estratégica de la Institución y que comparte las características manifestadas en al LOEI Art 88.
        Proyecto Educativo Institucional:
        El Proyecto Educativo Institucional de un establecimiento educativo es el documento público de planificación
        estratégica institucional en el que constan acciones estratégicas a mediano y largo plazo, dirigidas a asegurar la
        calidad de los aprendizajes estudiantes y una vinculación propositiva con el entorno escolar.
        El Proyecto Educativo Institucional debe explicitar las características diferenciadoras de la oferta educativa
        que marquen la identidad institucional de cada establecimiento. Se elabora de acuerdo a la normativa que expida
        el Nivel Central de la Autoridad Educativa Nacional, y no debe ser sometido a aprobación de instancias externas;
        sin embargo, estas lo deben emitir al Nivel Distrital para su registro.
        En las instituciones públicas, el Proyecto Educativa Institucional se debe construir con la participación del
        Gobierno escolar; en las instituciones particulares y fisco misionales, se debe construir con la participación de los
        promotores y las autoridades de los establecimientos.</p>
        <hr class="my-8">

    <h1 class="display-10">REDACCION BREVE SOBRE EL PROCESO DE CONTRUCCION DE LA VISION, MISION E IDEARIO
            PROCESO DE CONTRUCCION DE LA VISION, MISION, IDEARIO DEL PLANTEL
            </h1>
    <p class="lead">En cumplimiento del Acuerdo Ministerial # 182 y además disposiciones legales de la republica que en la
            sexta política del Plan Decenal de Educación dispone: “El mejoramiento de la calidad y equidad de la educación e
            implementación de un sistema de evaluación y rendición social de cuentas”. Nuestra institución educativa, ejecuta el
            proceso de evaluación institucional el cual ha permitido conocer los logros y falencias que se han presentado en los
            aspectos pedagógicos, gestión administrativa y Talento Humano.
            Los docentes aceptamos el compromiso al momento de realizar nuestra misión, visión e ideario teniendo como base
            principal los resultados obtenidos de las diferentes actividades realizadas en las aulas, tanto con estudiantes y
            padres de familia compartiendo el trabajo encomendados a través de nuestra autoridad institucional.
            La Unidad Educativa Fiscal Dr. Francisco Arizaga Luque consiste de su labor social en el desarrollo Educativo comunitario
            de la ciudad de Guayaquil, conforme lo establece la Ley Orgánica de Educación Intercultural en el articulo 88,
            se procede actualizar y mejorar el Proyecto Educativo Institucional, a fin de contar con un documento público de
            planificación estratégica institucional en el que consta las acciones estratégicas a mediano y largo plazo, dirigidas a
            asegurar la calidad de los aprendizajes estudiantiles y una vinculación propositiva con la comunidad del sector.
            La comunidad educativa “Fiscal Dr. Francisco Arizaga Luque” frente a la necesidad de actualizar y reformar acuerdos
            internos, decide ejecutar la actualización de su identidad institucional teniendo como base un enfoque ambiental e
            integrador.
            Redactar la Misión, visión e ideario es labor de un equipo de trabajo, pues es importante asegurar que se involucren
            todos dentro de la organización con base en la información y con la perspectiva suficiente, además de que se obtiene
            mayor participación y compromiso de todos hacia su cumplimiento.
            Por lo tanto, la construcción fue tarea de toda la comunidad Arizaguina, con el único propósito de tener una
            proyección clara en base a los lineamientos de su construcción.
            La conformación de equipos de trabajo, estudiantes, padres y/o madres, representantes legales se dio inicio a la
            construcción, donde cada actor dio su aporte y así se pudo realizar la misión, visión e ideario de nuestra
            institución educativa a través de mesa de trabajo de cada actor, para luego ser socializado a toda la comunidad educativa.
            </p>
    <hr class="my-8">

    <h1 class="display-10">Visión</h1>
    <p class="lead">En el año 2021 la unidad educativa fiscal Dr. Francisco Arizaga Luque será reconocida como una institución
            competitiva y proactiva, en el cual sus estudiantes logren descubrir y desarrollar sus potenciales intelectuales,
            afectivas, físicas, morales y sociales; que les permita formar su proyecto de vida, hacia la participación y desarrollo
            activo de los desafíos culturales, sociales, ambientales y tecnológicos que la sociedad actualidad exige para afrontar
            nuevos retos.</p>
    <hr class="my-8">

    <h1 class="display-10">Misión</h1>
    <p class="lead">Somos la unidad educativa fiscal Dr. Francisco Arizaga Luque, que mediante 4 años brindara una formación de
            calidad y calidez, orientada al desarrollo de destrezas con criterio de desempeño necesarias para alcanzar el
            perfil de salida que propone la actualización curricular, como base para su formación integral, critica con conciencia,
            compromiso social y del cuidado del medio ambiente, para formar personas-competentes en las áreas técnicas capaces de
            responder a los nuevos desafíos del sector publico y privado y construir al desarrollo del país.</p>
    <hr class="my-8">

    <h1 class="display-10">Ideario</h1>
    <p class="lead">La Unidad Educativa Dr. Francisco Arizaga Luque, se fundamenta en la Construcción Política del Ecuador,
            y conscientes de la importancia que reviste en los actuales días la educación y formación de niños y jóvenes,
            expresa en este ideario sus Principios y Fines, Políticas y valores los mismos que plasma nuestra identidad institucional.
    <p class="lead">Art. 2.- Principios. -</h1>
    <p class="lead">La actividad educativa se desarrolla atendiendo a los siguientes principios generales, que son los fundamentos
            filosóficos, conceptuales y constitucionales que sustentan, definen y rigen las decisiones y actividades en el ámbito
            educativo:
    <p class="lead">a.	Universalidad. - La educación es un derecho humano fundamental y es deber ineludible e inexcusable del Estado garantizar el acceso, permanencia y calidad de la educación para toda la población sin ningún tipo de discriminación. Esta articulada a los instrumentos internacionales de derechos humanos;
    <p class="lead">b. Educación para el cambio. - La educación constituye instrumento de transformación de la sociedad;
        contribuye a la construcción del país, de los proyectos de vida y de la libertad de sus habitantes, pueblos y nacionalidades;
        reconoce a las y los seres humanos, en particular a las niñas, niños y adolescentes, como centro del proceso de
        aprendizajes y sujetos de derecho; y se organiza sobre la base de los principios constitucionales;</h1>
    <p class="lead">c. Libertad. - La educación forma a las personas para la emancipación, autonomía y el pleno ejercicio de sus libertades.
        El Estado garantizara la pluralidad en la oferta educativa;</h1>
    <p class="lead">d. Interés superior de los niños, niñas, adolescentes. - El interés superior de los niños, niñas y adolescentes,
        esta orientado a garantizar el ejercicio efectivo del conjunto de sus derechos e impone a todas las instituciones y autoridades,
        publicas y privadas, el deber de ajustar sus decisiones y acciones para su atención. Nadie podrá invocarlo contra norma
        expresa y sin escuchar previamente la opinión del niño, niña o adolescente involucrado, que este en condiciones de expresarla;</h1>
    <p class="lead">e. Atención prioritaria. - Atención e integración prioritaria y especializados de las niñas, niños y adolescentes
        con discapacidad o que padezcan enfermedades catastróficas de alta complejidad;</h1>
    <p class="lead">i. Educación en valores. - La educación debe basarse en la transmisión y practica de valores que promuevan
        la libertad personal, la democracia, el respeto a los derechos, la responsabilidad, la solidaridad, la tolerancia,
        el respeto a la diversidad de género, generacional, étnica, social, por identidad de género, condición de migración y
        creencia religiosa, la equidad, la igualdad y la justicia y la eliminación de toda forma de discriminación;</h1>
    <p class="lead">j. Garantizar el derecho de las personas a una educación libre de violencia de género, que promueva la coeducación;</h1>
    <p class="lead">l. Igualdad de género. - La educación debe garantizar la igualdad de condiciones, oportunidades y trato entre
        hombres y mujeres. Se garantizan medidas de acción afirmativa para efectivizar el ejercicio del derecho a la educación
        sin discriminación de ningún tipo;</h1>
    <p class="lead">m. Educación para la democracia. - Los establecimientos educativos son espacios democráticos de ejercicio de los
        derechos humanos y promotores de la cultura de paz, transformadores de la realidad, transmisores y creadores de conocimiento,
        promotores de la interculturalidad, la equidad, la inclusión, la democracia, la ciudadanía, la convivencia social,
        la participación, la integración social, nacional, andina, latinoamericana y mundial;</h1>
    <p class="lead">n. Comunidad de aprendizaje. - La educación tiene entre sus conceptos aquel que reconoce a la sociedad como un ente que
        aprende y enseña y se fundamenta en la comunidad de aprendizaje entre docentes y educativos, considerada como espacios de
        diálogo social e intercultural e intercambio de aprendizajes y saberes;</h1>
    <p class="lead">o. Participación ciudadana. - La participación ciudadana se concibe como protagonista de la comunidad educativa en la
        organización, gobierno, funcionamiento, toma de decisiones, planificación, gestión y rendición de cuentas en los asuntos
        inherentes al ámbito educativo, así como sus instancias y establecimientos. Comprende además el fenómeno de las capacidades y
        la provisión de herramientas para la formación en ciudadanía y el ejercicio del derecho a la participación efectiva;</h1>
    <p class="lead">t. Cultura de paz y solución de conflictos. - El ejercicio del derecho a la educación debe orientarse a construir una
        sociedad justa, una cultura de paz y no violencia, para la prevención, tratamiento y resolución pacifica de conflictos,
        en todos los espacios de la vida personal, escolar, familiar y social. Se exceptúan todas aquellas acciones y omisiones
        sujetas a la normalidad penal y a las materias no transigibles de conformidad con la Constitución de la Republica y la Ley;</h1>
    <p class="lead">v. Equidad e inclusión. - La equidad e inclusión aseguran a todas las personas el acceso, permanecía y culminación
        en el Sistema Educativo. Garantiza la igualdad de oportunidades a comunidades, pueblos nacionalidades y grupos con necesidades
        educativas especiales y desarrolla una ética de la inclusión con medidas de acción afirmativa y una cultura escolar
        incluyente en la teoría y la practica en base a la equidad, erradicando toda forma de discriminación;</h1>
    <p class="lead">jj. Escuelas saludables y seguras. - El Estado garantiza, a través de diversas instancias, que las instituciones
        educativas son saludables y seguras. En ellas se garantiza la universalización y calidad de todos los servicios básicos y
        la atención de salud integral gratuita;</h1>
    <p class="lead">kk. Convivencia armónica. - La educación tendrá como principio rector la formulación de acuerdos de convivencia
        armónica entre los actores de la comunidad educativa;</h1>

    <p class="lead">ART. 3.- FINES DE LA EDUCACION. -</h1>
    <p class="lead">Son fines de la educación:</h1>
    <p class="lead">A. El desarrollo pleno de la personalidad de las y los estudiantes, que contribuya a lograr el conocimiento y
            ejercicio de sus derechos, el cumplimiento de sus obligaciones, el desarrollo de una cultura de paz entre los pueblos y
            de no violencia entre las personas, y una convivencia social intercultural, plurinacional, democrática y solidaria;</h1>
    <p class="lead">B. El fortalecimiento y la potenciación de la educación para contribuir al cuidado y preservación de las
            identidades conforme a la diversidad cultural y las particularidades metodológicas de enseñanza, desde el nivel inicial
            hasta el nivel superior, bajo criterios de calidad;</h1>
    <p class="lead">C. El desarrollo de la identidad nacional; de un sentido de pertenencia unitario, intercultural y plurinacional;
            y de las identidades culturales de los pueblos y nacionalidades que habitan el Ecuador;</h1>
    <p class="lead">D. El desarrollo de capacidades de análisis y conciencia crítica para que las personas se inserten en el mundo
            como sujetos activos con vocación transformadora y de construcción de una sociedad justa, equitativa y libre;</h1>
    <p class="lead">E. La garantía del acceso plural y libre a la información sobre la sexualidad, los derechos sexuales y
            los derechos reproductivos para el conocimiento y ejercicio de dichos derechos bajo un enfoque de igualdad de género,
            y para la toma libre, consciente, responsable e informada de las decisiones sobre la sexualidad;</h1>
    <p class="lead">F. El fomento y desarrollo de una conciencia ciudadana y planetaria para la conservación defensa y mejoramiento
            del ambiente; para el logro de una vida sana; para el uso racional, sostenible y sustentable de los recursos naturales;</h1>
    <p class="lead">G. La contribución al desarrollo integral, autónomo, sostenible e independiente de las personas para
            garantizar la plena realización individual, y la realización colectiva que permita en el marco del Buen Vivir o Sumak Kawsay;</h1>
    <p class="lead">H. La consideración de la persona humana como centro de la educación y la garantía de su desarrollo integral,
            en el marco del respeto a los derechos educativos de la familia, la democracia y la naturaleza;</h1>
    <p class="lead">I. La Promoción de igualdades entre hombres, mujeres y personas diversas para el cambio de concepciones culturales
            discriminatorias de cualquier orden, sexistas en particular, y para la construcción de relaciones sociales en el marco del
            respeto a la dignidad de las personas, del reconocimiento y valoración de las diferencias;</h1>
    <p class="lead">J. La incorporación de la comunidad educativa a la sociedad del conocimiento en condiciones óptimas y la
            transformación del Ecuador en referente de educación liberadora de los pueblos;</h1>
    <p class="lead">K. El fomento del conocimiento, respeto, valoración, rescate, preservación y promoción del patrimonio natural y
            cultural tangible e intangible;</h1>
    <p class="lead">L. La inculcación del respeto y la practica permanente de los derechos humanos, la democracia, la participación,
            la justicia, la igualdad y no discriminación, la equidad, la solidaridad, la no violencia, las libertades fundamentos y los
            valores cívicos;</h1>
    <p class="lead">M. La protección y el apoyo a las y los estudiantes en casos de violencias, maltrato, explotación sexual y de cualquier
            tipo de abuso; el fomento de sus capacidades, derechos y mecanismos de denuncia y exigibilidad; el combate contra
            la negligencia que permita o provoque tales situaciones;</h1>
    <p class="lead">N. La garantía de acceso plural y libre a la información y educación para la salud y la prevención de enfermedades,
            la prevención del uso de estupefacientes y psicotrópicos, del consumo de bebidas alcohólicas y otras sustancias nocivas para
            la salud y desarrollo;</h1>
    <p class="lead">O. La promoción de la formación cívica y ciudadana de una sociedad que aprende, educa y participa permanentemente
            en el desarrollo nacional;</h1>
    <p class="lead">P. El desarrollo de procesos escolarizados, no escolarizados, formales, no formales y especiales;</h1>
    <p class="lead">Q. El desarrollo, la promoción y el fortalecimiento de la educación intercultural bilingüe en el Ecuador;</h1>
    <p class="lead">R. La potenciación de las capacidades productivas del país conforme a las diversidades geográficas, religiosas,
            provinciales, cantonales, parroquiales y culturales, mediante la diversificación curricular, la capacitación de las
            personas para poner en marcha sus iniciativas productivas individuales o asociativas; y el fortalecimiento de una cultura
            de emprendimiento;</h1>
    <p class="lead">S. El desarrollo, fortalecimiento y promoción de los idiomas de los pueblos y nacionalidades del Ecuador;</h1>
    <p class="lead">T. La promoción del desarrollo científico y tecnológico;</h1>
    <p class="lead">U. La proyección de enlaces críticos y conexiones articuladas y analíticas con el conocimiento mundial
            para una correcta y positiva inserción en los procesos planetarios de creación y utilización de saberes.</h1>
            </p>
    <hr class="my-8">

    <h1 class="display-10">VALORES INTITUCIONALES</h1>
    <p class="lead">Los valores institucionales son los pilares más importantes de toda organización, es por ellos que la
            grandeza de las instituciones educativas, tiene como cimientos fundamentales los valores que rigen y se practican en
            todos sus estamentos, siendo la garantía que se brinda a todos sus actores internos y externos. Es el código de
            convivencia que se hace deseable en la practica cotidiana de los miembros de la comunidad Arizaguina.
            Ante la diversidad poblacional, tanto a nivel de docentes como de estudiantes y, de acuerdo a las normas establecidas
            en la LOEI, en nuestra institución educativa durante toda su institucional fortalecerá y desarrollará los siguientes
            valores;</h1>
    <p class="lead">•Respeto. - Es el interés por comprenderse a si mismo y a los demás y contribuir a llevar adelante sus planes
        de vida en un mundo diverso. Sin un respeto activo, es difícil que todos puedan desarrollarse.</h1>
    <p class="lead">•Honestidad. - El compromiso de los miembros de nuestra I. E, de ser transparentes consigo mismo y con sus
        semejantes.</h1>
    <p class="lead">•Disciplina. - La disciplina está definida como la manera ordenada y sistemática de hacer las cosas,
        siguiendo un conjunto de reglas y normas que, por lo general, la rigen una actividad o una organización.</h1>
    <p class="lead">•Libertad. - Es la posibilidad que tienen los actores para decir por sí mismos, y para actuar en las diferentes
        situaciones que se presentan en la vida institucional.</h1>
    <p class="lead">•Justicia. - Consiste en facilitar a cada miembro de la institución, las condiciones para vivir en libertad y en
        igualdad; articular la solidaridad y el respeto en las diversas actividades Arizaguina, permitir la toma de decisiones
        comunes a través del dialogo de manera responsable; y, hacer valer los derechos de las personas.</h1>
    <p class="lead">•Democracia. - Es decir el debido respeto a la soberanía y el derecho a la autodeterminación de cada integrante
        de la institución educativa.</h1>
    <p class="lead">•Responsabilidad. - Es la conciencia de las consecuencias de todo lo que se hace o deja de hacer sobre sí mismo,
        la institución o sobre los demás.</h1>
    <p class="lead">•Lealtad. - tiene que ver con el sentimiento de apego, fidelidad y respeto que inspira a los miembros del plantel,
        para llevar adelante acciones o ideas con las que la institución se identifica.</h1>
    <p class="lead">•Solidaridad. - Se manifiesta cuando los miembros de la comunidad educativa se unen y colaboran mutuamente para
        conseguir un fin común, como impulsar la libertad, la igualdad y demás valores morales en aquellos grupos que, por diversas
        razones, no pueden disfrutar de esos valores.</h1>
    <p class="lead">•Perseverancia. - Es la fuerza interior que permite llevar a buen termino las actividades que se emprende,
        realizadas con alta motivación y profundo sentido de compromiso.</h1>
    <p class="lead">•Paz. - Es el fruto de la sana convivencia; para hacerla posibles es necesario un ordenamiento social justo,
        en el que todos tengan las mismas oportunidades para desarrollarse personal y profesionalmente.</h1>
    <p class="lead">•Tolerancia. - Hace posible la convivencia social como expresión del respeto por las ideas y actitudes de los demás.</h1>
    <p class="lead">•Cuidado del Medio ambiente. - El cuidado del medio ambiente es fundamental para nuestra calidad de vida ahora
        y la del futuro, tenemos el deber de defender el mundo donde vivimos y nuestra institución educativa puede resultar un
        gran aliado para esta lucha haciendo que sea participe de este cuidado enseñándole a nuestro estudiante como hacerlo.</h1>
        </p>
    <hr class="my-8">

  </div>
{% endblock %}