{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-8">Himno de la unidad educativa Dr. Francisco Arizaga Luque</h1>
    <hr class="my-12">
</div>
<div class="jumbotron">
    <hr class="my-12">
    <ul class="nav justify-content-center">
    <h1 class="display-10">Coro</h1>
    </ul>
    <ul class="nav justify-content-center">
    <h4 class="display-10">Nada mas que la idea impulsemos</h4>
    </ul>
    <ul class="nav justify-content-center">
    <h4 class="display-10">Por un mundo más claro y mejor</h4>
    </ul>
    <ul class="nav justify-content-center">
    <h4 class="display-10">Que conjugue los hilos del tiempo</h4>
    </ul>
    <ul class="nav justify-content-center">
    <h4 class="display-10">En la trama de un himno de amor</h4>
    </ul>

    <ul class="nav justify-content-center">
    <h1 class="display-10">Estrofas</h1>
    </ul>

    <ul class="nav justify-content-center">
    <h1 class="display-10">I</h1>
    </ul>

    <ul class="nav justify-content-center">
    <h4 class="display-10">De Arizaga Luque el sendero</h4>
    </ul>
    <ul class="nav justify-content-center">
    <h4 class="display-10">De la patria redimida en su honor;</h4>
    </ul>
    <ul class="nav justify-content-center">
    <h4 class="display-10">De Arizaga Luque el encuentro</h4>
    </ul>
    <ul class="nav justify-content-center">
    <h4 class="display-10">De la vida columpiado en el sol.</h4>
    </ul>

    <ul class="nav justify-content-center">
    <h1 class="display-10">II</h1>
    </ul>

    <ul class="nav justify-content-center">
    <h4 class="display-10">El colegio se inicia en mañanas</h4>
    </ul>

    <ul class="nav justify-content-center">
    <h4 class="display-10">Que renuevan el campo y la flor,</h4>
    </ul>
    <ul class="nav justify-content-center">
    <h4 class="display-10">que entretejen las frentes de alas</h4>
    </ul>
    <ul class="nav justify-content-center">
    <h4 class="display-10">Coronadas de eterno fulgor</h4>
    </ul>

    <ul class="nav justify-content-center">
    <h1 class="display-10">III</h1>
    </ul>
    <ul class="nav justify-content-center">
    <h4 class="display-10">El colegio es el libro que habal</h4>
    </ul>
    <ul class="nav justify-content-center">
    <h4 class="display-10">Como ventana abierta al cofín,</h4>
    </ul>
    <ul class="nav justify-content-center">
    <h4 class="display-10">En el dulce lenguaje del alba.</h4>
    </ul>
    <ul class="nav justify-content-center">
    <h4 class="display-10">Con sus líneas de blanco zafir</h4>
    </ul>

    <ul class="nav justify-content-center">
    <h1 class="display-10">IIII</h1>
    </ul>

    <ul class="nav justify-content-center">
    <h4 class="display-10">El camino trazado hacia el día</h1>
    </ul>
    <ul class="nav justify-content-center">
    <h4 class="display-10">Es camino de luz y Universo,</h4>
    </ul>
    <ul class="nav justify-content-center">
    <h4 class="display-10">Esparcida en creciente armonía,</h4>
    </ul>
    <ul class="nav justify-content-center">
    <h4 class="display-10">como granos de trigo y de versos.</h4>
  </ul>
  <hr class="my-12">
</div>
{% endblock %}