{% extends 'base.html' %}
{% block titulo %}Unidad Educativa Fiscal Mixto
    "Dr. Francisco Arizaga Luque"{% endblock titulo %}
{% block background %} {% load static %} {% static 'img/inicios-bg.jpg' %} {% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-8">
    Unidad Educativa Fiscal Mixto
    "Dr. Francisco Arizaga Luque"</h1>
    <hr class="my-8">

      <h3 class="display-8">La unidad educativa fiscal "Dr. Francisco Arizaga Luque" fue fundado en 1973 el por ........ </h3>
      <h1 class="display-8"><img src="colegio-bg.jpg" class="img" alt="La imagen puede contener: una o varias personas, multitud y exterior" width="320" height="211"><img src="https://scontent.fgye6-1.fna.fbcdn.net/v/t31.0-0/cp0/e15/q65/p240x240/10295036_853858897974820_1870023967766695969_o.jpg?_nc_cat=106&amp;_nc_sid=8024bb&amp;efg=eyJpIjoiYiJ9&amp;_nc_ohc=gbcOR-9oGhMAX_U7BJ7&amp;_nc_ht=scontent.fgye6-1.fna&amp;_nc_tp=3&amp;oh=e78db77b98bf0c110eda14c26851b3dd&amp;oe=5EA754E2" class="img" alt="La imagen puede contener: 7 personas" width="320" height="240"></h1>
      <hr class="my-8">
</div>
{% endblock %}
